
/*****************************KEYFRAMES****************************************/

@keyframes rainbow {
   0%    { border-color: #EE7752; }
   25%   { border-color: #E73C7E; }
   75%   { border-color: #23A6D5; }
   100%  { border-color: #23D5AB; }
}

@keyframes Gradient {
	0% 	{ background-position: 0% 50%; }
	50% 	{ background-position: 100% 50%; }
	100% 	{ background-position: 0% 50%; }
}

@keyframes flash {
	0%    {  border-color: none;       }
	49%   {  border-color: #EE7752;  }
	50%   {  border-color: #E73C7E;  }
}


