@charset "UTF-8";
/*****************************KEYFRAMES****************************************/
@keyframes rainbow {
  0% {
    border-color: #EE7752;
  }
  25% {
    border-color: #E73C7E;
  }
  75% {
    border-color: #23A6D5;
  }
  100% {
    border-color: #23D5AB;
  }
}

@keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/*****************************MIXINS****************************************/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-size: 1rem;
  height: 100vh;
}

body {
  box-sizing: border-box;
  font: 1rem "fira-sans", sans-serif;
  height: 100vh;
  line-height: 1.6;
  color: #222;
}

p, span {
  font-size: 1rem;
}

li, ul, ol {
  list-style: none;
}

h1, h2, h3, h4, h5 {
  font-family: "fira-sans", sans-serif;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2.2rem;
  color: #95bb4e;
}

h3 {
  font-size: 1.7rem;
}

a,
a:link {
  font-size: 1rem;
  color: #23d5ab;
  font-weight: 700;
  transition: color .2s;
  text-decoration: none;
}

a:hover, a:active,
a:link:hover,
a:link:active {
  color: #95bb4e;
  text-decoration: none;
}

label {
  display: inline-block;
  margin: 0;
}

mark {
  padding: 0;
  background-color: #95bb4e;
}

input[type="text"] {
  background: none;
  width: 100%;
  outline: none;
  border: none;
}

button.disabled,
input.disabled,
select.disabled {
  opacity: .75;
  filter: grayscale(50%);
  pointer-events: none;
  cursor: not-allowed;
}

.flex-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex-page-center {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex-row, .row-flex {
  display: flex;
  flex-direction: row;
}

.flex-row.center, .row-flex.center {
  justify-content: center;
}

.flex-row.spaced, .row-flex.spaced {
  justify-content: space-between;
}

.flex-row.center-all, .row-flex.center-all {
  justify-content: center;
  align-items: center;
}

.hidden {
  display: none !important;
}

.row-spacing {
  margin-bottom: .9rem;
  clear: both;
}

.row-spacing::after {
  content: "";
  display: table;
  clear: both;
}

.shift-background {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 1000%;
  animation: Gradient 15s ease infinite;
}

.gradient-background {
  background: linear-gradient(-45deg, #2d9737, #23d5ab, #95bb4e);
  background-size: 100%;
}

.rainbow-border {
  border: .2rem solid #E73C7E;
  animation: rainbow 3s infinite alternate;
}

.body-layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.content-layout {
  display: flex;
  flex-direction: row;
  flex: 1 1 auto;
}

nav.navigation {
  height: auto;
  flex: 0 0 15rem;
  background-color: gainsboro;
  border-right: 0.05rem solid gray;
  transition: color 0.8s, background-color 0.8s;
}

main.main {
  flex: 1 1 auto;
  height: auto;
  background-color: #fff;
  padding: 1.6rem;
  transition: color 0.8s, background-color 0.8s;
}

footer.footer {
  padding: .4rem;
  background-color: #fff;
  text-align: center;
  border-top: 0.05rem solid gray;
  transition: color 0.8s, background-color 0.8s;
}

nav.navigation .fa {
  font-size: 1rem;
  margin: 0 .2rem;
}

nav.navigation ul {
  width: 100%;
  list-style: none;
  display: flex;
  flex-direction: column;
}

nav.navigation ul .navi-item {
  text-align: right;
  display: block;
}

nav.navigation ul .navi-item a {
  padding: .7rem 1.75rem .7rem .7rem;
  color: #222;
  font-size: 1rem;
  font-weight: 400;
  text-align: right;
  display: block;
  border-top: .15rem solid transparent;
  border-bottom: .15rem solid transparent;
  white-space: nowrap;
  transition: background-color .2s, color .2s, border .2s;
}

nav.navigation ul .navi-item a:focus {
  box-shadow: 0 0 0.35rem black;
  outline: 0.1rem solid #2d9737;
}

nav.navigation ul .navi-item a:focus:hover {
  box-shadow: none;
  outline: none;
}

nav.navigation ul .navi-item a:hover {
  color: #2d9737;
  border-top-color: #2d9737;
  border-bottom-color: #2d9737;
}

nav.navigation ul .navi-item a.active {
  background-color: #2d9737;
  color: #fff;
}

@media screen and (max-width: 1040px) {
  nav.navigation {
    flex: 0 0 5rem;
  }
  nav.navigation ul .navi-item a {
    padding: 1rem .7rem;
    text-align: center;
    border: .15rem solid transparent;
  }
  nav.navigation ul .navi-item a:hover {
    border: 0.15rem solid #2d9737;
  }
  nav.navigation ul .navi-item a .fa {
    font-size: 1.5rem;
    margin: 0;
  }
  nav.navigation ul .navi-item a .pagename {
    display: none;
  }
}

footer a, footer a:link {
  color: #6e6e6e;
}

.dashboard {
  width: 100%;
  min-height: 60vh;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.dashboard a.dash-item {
  flex: 1 0 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: .5rem;
  background-color: gainsboro;
  border: 0.05rem solid gray;
  transition: background-color .2s;
}

.dashboard a.dash-item:hover {
  background-color: #2d9737;
  color: #fff;
}

.dashboard a.dash-item .pagesymbol {
  padding: 1rem;
  text-align: center;
  font-size: 3.3rem;
}

.dashboard a.dash-item .pagetitle {
  padding: 1rem;
  text-align: center;
  font-weight: 400;
}

.top-panel {
  display: flex;
}

.top-panel .announcement {
  flex: 1 1 auto;
  min-height: 2rem;
  height: auto;
  background-color: gainsboro;
  padding: .5rem;
  text-align: center;
  border: 0.1rem solid gray;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  max-height: 5rem;
}

.time-wrap {
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
}

.time-wrap .time-block {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem;
}

.time-wrap .time-block .time-content {
  color: #95bb4e;
}

.time-wrap .time-block .time-content h3 {
  font-size: 2rem;
  text-align: center;
}

.chatwindow {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 40rem;
  max-height: 50rem;
  border: 0.1rem solid gray;
  border-radius: 0.35rem;
  padding: .5rem;
}

.chatwindow .chatlog {
  flex: 1 1 auto;
  overflow-y: auto;
  overflow-x: hidden;
}

.chatwindow .chatlog .line {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: .3rem;
  background-color: gray;
  border-radius: 0.35rem;
  margin-bottom: .3rem;
}

.chatwindow .chatlog .line:hover {
  background-color: #fff;
}

.chatwindow .chatlog .line:hover .line-timestamp {
  color: #95bb4e;
}

.chatwindow .chatlog .line .line-user {
  flex: 0 0 5.2rem;
  font-weight: 900;
  color: #2d9737;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  margin-left: .45rem;
}

.chatwindow .chatlog .line .line-user .fa {
  padding-right: .25rem;
}

.chatwindow .chatlog .line .line-message {
  flex: 1 1 auto;
  padding-left: .5rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
}

.chatwindow .chatlog .line .line-timestamp {
  flex: 0 0 3rem;
  color: #fff;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
}

.chatwindow .chatlog .line.user-system {
  background-color: #44565a;
}

.chatwindow .chatlog .line.user-system .line-user {
  color: skyblue;
}

.chatwindow .chatlog .line.user-admin .line-user {
  color: gold;
}

.scrollspy {
  margin-top: 1rem;
  display: flex;
}

.scrollspy .is-inview {
  background-color: #95bb4e;
  color: #fff;
}

.scrollspy .scrollNav {
  flex: 0 0 8rem;
}

.scrollspy .scrollNav ul {
  position: sticky;
  top: 1.2rem;
}

.scrollspy .scrollNav li {
  list-style: none;
  padding-left: 1.2rem;
}

.scrollspy .scrollNav a {
  display: block;
  width: 100%;
  padding: .7rem;
  text-align: right;
}

.scrollspy .scrollContent {
  flex: 1 1 auto;
}

#toast-container .toast {
  max-width: 35rem;
  min-width: 25rem;
}

#toast-container .toast.succes {
  background-color: #2d9737;
}

#toast-container .toast-message {
  line-height: 1.2;
}

.modal-fade {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  transition: .5 background-color;
}

.modal-fade .modal-box {
  background-color: #fff;
  border-radius: 0.35rem;
  width: 100%;
  max-width: 30rem;
  min-height: 15rem;
  padding: 1rem;
  margin: .3rem;
}

.modal-fade .modal-box .modal-heading h3 {
  text-align: center;
  font-size: 1.5rem;
  margin: .8rem;
  color: #fff;
}

.modal-fade .modal-box .modal-content {
  max-width: 100%;
  min-width: 10rem;
}

.close-button {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 1.6rem;
  width: auto;
  border: 0.1rem solid gray !important;
  background-color: gray;
  transition: background-color .6s;
  border-radius: 0.35rem;
}

.close-button:hover {
  background-color: #95bb4e;
}

.close-button::before, .close-button::after {
  transform: rotate(-45deg);
  content: '';
  position: absolute;
  display: block;
  height: .3rem;
  width: 1.2rem;
  background-color: #fff;
  transition: all .4s ease-out;
}

.close-button::after {
  transform: rotate(45deg);
}

.close-button:hover::before, .close-button:hover::after {
  background-color: #fff;
  transform: rotate(0deg);
}

.content-centered-lg {
  max-width: 50rem;
  margin: 0 auto;
}

.content-centered-md {
  max-width: 35rem;
  margin: 0 auto;
}

.content-centered-sm {
  max-width: 20rem;
  margin: 0 auto;
}

ol.wizard-path {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  overflow: hidden;
  min-height: 1.8rem;
}

ol.wizard-path li {
  position: relative;
  text-align: center;
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

ol.wizard-path li .bullet {
  background-color: #2d9737;
  border: 0.23077rem solid #2d9737;
  text-align: center;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 1.5rem;
  position: relative;
  z-index: 1;
  transition: border-color .5s;
}

ol.wizard-path li + li:after {
  content: "";
  display: block;
  width: 100%;
  background-color: #2d9737;
  height: 0.3rem;
  position: absolute;
  left: -50%;
  top: 0.75rem;
  z-index: 0;
  transition: background-color .5s;
}

ol.wizard-path li.current ~ li:after {
  background-color: gray;
}

ol.wizard-path li.current ~ li .bullet {
  background-color: #fff;
  border-color: gray;
}

ol.wizard-path li.current > .bullet {
  box-shadow: 0 0 0.4rem rgba(40, 40, 40, 0.25);
  background-color: #8bd182;
}

.slider-cb input[type="checkbox"] {
  position: absolute;
  left: -999rem;
}

.slider-cb input[type="checkbox"]:focus + label {
  box-shadow: 0 0 0.35rem black;
  outline: 0.1rem solid #2d9737;
}

.slider-cb input[type="checkbox"]:focus + label:hover {
  box-shadow: none;
  outline: none;
}

.slider-cb input[type="checkbox"]:disabled + label {
  color: #999;
  cursor: default;
}

.slider-cb input[type="checkbox"]:disabled + label::before {
  border-color: #bbb;
  background-color: #ddd;
  border: .15rem solid #ddd;
}

.slider-cb input[type="checkbox"]:disabled + label::after {
  color: #999;
  background-color: gray;
}

.slider-cb [type="checkbox"] + label {
  font-weight: 400;
  font-size: 1rem;
  position: relative;
  cursor: pointer;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: .5rem .5rem .5rem 4.7rem;
  min-height: 1.8rem;
}

.slider-cb [type="checkbox"] + label:hover {
  background-color: #323232;
}

.slider-cb [type="checkbox"] + label::before {
  content: '';
  position: absolute;
  left: .45rem;
  width: 3.6rem;
  height: 1.8rem;
  border-radius: 1.8rem;
  border: .2rem solid gray;
  background-color: gray;
  transition: background-color .2s;
  box-shadow: 0 0 0.4rem rgba(40, 40, 40, 0.25);
}

.slider-cb [type="checkbox"] + label::after {
  content: '';
  position: absolute;
  font-size: 1.5rem;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 1.5rem;
  background-color: #8bd182;
  transition: left .2s, background-color .2s;
}

.slider-cb [type="checkbox"]:not(:checked) + label::after {
  left: .65rem;
}

.slider-cb [type="checkbox"]:checked + label::after {
  left: 2.35rem;
  background-color: #8bd182;
}

.slider-cb [type="checkbox"]:checked + label::before {
  background-color: #2d9737;
  border-color: #2d9737;
}

.cb > input[type="checkbox"] {
  position: absolute;
  left: -999rem;
}

.cb > input[type="checkbox"]:focus + label {
  box-shadow: 0 0 0.35rem black;
  outline: 0.1rem solid #2d9737;
}

.cb > input[type="checkbox"]:focus + label:hover {
  box-shadow: none;
  outline: none;
}

.cb > input[type="checkbox"]:disabled + label {
  color: #999;
  cursor: default;
}

.cb > input[type="checkbox"]:disabled + label::before {
  border-color: #bbb;
  background-color: #ddd;
  border: .1rem solid #ddd;
}

.cb > input[type="checkbox"]:disabled + label::after {
  color: #999;
}

.cb [type="checkbox"] + label {
  font-weight: 400;
  font-size: 1rem;
  position: relative;
  cursor: pointer;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: .5rem .5rem .5rem 2.9rem;
  min-height: 1.8rem;
}

.cb [type="checkbox"] + label:hover {
  background-color: #323232;
}

.cb [type="checkbox"] + label::before {
  content: '';
  position: absolute;
  left: .5rem;
  width: 1.8rem;
  height: 1.8rem;
  border: .1rem solid #6eb068;
  background: none;
  transition: opacity .2s;
  box-shadow: 0 0 0.4rem rgba(40, 40, 40, 0.25);
}

.cb [type="checkbox"] + label::after {
  content: '✔';
  position: absolute;
  left: .8rem;
  font-size: 1.5rem;
  line-height: 1.8;
  color: #8bd182;
  transition: opacity .2s;
}

.cb [type="checkbox"]:not(:checked) + label::after {
  opacity: 0;
}

.cb [type="checkbox"]:checked + label::after {
  opacity: 1;
}

.cb [type="checkbox"]:checked + label::before {
  background-color: #6eb068;
}

.rb [type="radio"] {
  position: absolute;
  left: -999rem;
}

.rb [type="radio"]:focus + label {
  box-shadow: 0 0 0.35rem black;
  outline: 0.1rem solid #2d9737;
}

.rb [type="radio"]:focus + label:hover {
  box-shadow: none;
  outline: none;
}

.rb [type="radio"]:disabled + label {
  color: #999;
  cursor: default;
}

.rb [type="radio"]:disabled + label::before {
  border-color: #bbb;
  background-color: #ddd;
  border: .1rem solid #ddd;
}

.rb [type="radio"]:disabled + label::after {
  color: #999;
}

.rb [type="radio"] + label {
  font-weight: 400;
  font-size: 1rem;
  position: relative;
  cursor: pointer;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: .5rem .5rem .5rem 2.5rem;
  min-height: 1.5rem;
}

.rb [type="radio"] + label:hover {
  background-color: #323232;
}

.rb [type="radio"] + label::before {
  content: '';
  position: absolute;
  left: .5rem;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 1.5rem;
  border: 0.15rem solid #2d9737;
  background: none;
  transition: background-color .2s;
  box-shadow: 0 0 0.4rem rgba(40, 40, 40, 0.25);
}

.rb [type="radio"]:checked + label::before {
  background-color: #8bd182;
}

.input-text {
  position: relative;
  margin-top: 1rem;
  max-width: 30rem;
  /* active state */
}

.input-text input[type="text"] {
  font-size: 1rem;
  padding: .35rem;
  display: block;
  width: 100%;
  border: none;
  border-bottom: .1rem solid #757575;
  background: none;
  color: #222;
  outline: none;
}

.input-text input:focus {
  outline: none;
}

.input-text label {
  color: #999;
  font-size: 1rem;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: .35rem;
  top: .7rem;
  transition: .2s ease all;
}

.input-text input:focus + label,
.input-text.hasContent input + label {
  top: -.7rem;
  font-size: .8rem;
  color: #2d9737;
}

.input-text.hascontent input:invalid + label,
.input-text input.invalid + label {
  font-weight: 900;
  color: #db6154;
  border: #db6154;
}

.input-text.hascontent input:invalid,
.input-text input.invalid {
  border-color: #db6154;
}

.input-text.hascontent input:invalid + label + .bar::before,
.input-text input.invalid + label + .bar::before {
  background: #db6154;
}

.input-text .bar {
  position: relative;
  display: block;
  width: 100%;
  max-width: 100%;
}

.input-text .bar::before {
  content: '';
  height: .15rem;
  width: 0;
  bottom: 0;
  left: 0;
  position: absolute;
  background: #2d9737;
  transition: .15s ease all;
}

.input-text input:focus ~ .bar::before {
  width: 100%;
}

.input-text input:required {
  box-shadow: none;
}

.input-text[data-tooltip-error]::before {
  visibility: hidden;
  opacity: 0;
  transition: opacity .15s ease-in-out, visibility .15s ease-in-out;
  pointer-events: none;
  position: absolute;
  padding: .5rem;
  border-radius: 0 0 .5rem .5rem;
  background-color: rgba(25, 25, 25, 0.85);
  color: #db6154;
  width: 100%;
  height: auto;
  left: 0;
  top: 100%;
  z-index: 300;
  content: attr(data-tooltip-error);
}

.input-text[data-tooltip-error]:hover::before {
  opacity: 1;
  visibility: visible;
}

.input-text > .tooltip-parent[data-tooltip-info]::before {
  visibility: hidden;
  opacity: 0;
  transition: opacity .15s ease-in-out, visibility .15s ease-in-out;
  pointer-events: none;
  position: absolute;
  padding: .5rem;
  border-radius: .5rem;
  background-color: rgba(25, 25, 25, 0.85);
  color: #accff0;
  width: 100%;
  height: auto;
  left: 0;
  top: -150%;
  z-index: 300;
  content: attr(data-tooltip-info);
}

.input-text > .tooltip-parent[data-tooltip-info]::after {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.15s ease-in-out, visibility 0.15s ease-in-out, transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
  content: "";
  position: absolute;
  top: -38%;
  left: 15%;
  margin-left: -5px;
  border-width: 7px;
  border-style: solid;
  border-color: rgba(25, 25, 25, 0.85) transparent transparent transparent;
}

.input-text:hover > .tooltip-parent[data-tooltip-info]::before,
.input-text:hover > .tooltip-parent[data-tooltip-info]::after,
.input-text > input:focus ~ .tooltip-parent[data-tooltip-info]::before,
.input-text > input:focus ~ .tooltip-parent[data-tooltip-info]::after {
  opacity: 1;
  visibility: visible;
}

input[type="text"].input-plain {
  padding: .35rem;
  margin-bottom: .5rem;
  border: 0.05rem solid gray;
  background-color: gainsboro;
  border-radius: 0.35rem;
  box-shadow: 0 0 0.4rem rgba(40, 40, 40, 0.25) inset;
}

.Select-control {
  background-color: gainsboro;
  border: 0.05rem solid #6e6e6e;
  box-shadow: 0 0 0.4rem rgba(40, 40, 40, 0.25);
}

.progress-container {
  position: absolute;
  top: 0;
  right: 0;
  width: .2rem;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  border: none;
}

.progress-bar {
  height: 0%;
  background: #4caf50;
  max-width: 100%;
  width: .2rem;
}

.btn-green {
  background-color: #2d9737;
  color: #fff;
  font-size: 1rem;
  border: .15rem solid transparent;
  font-weight: 700;
  min-height: 1.8rem;
  width: auto;
  min-width: 6rem;
  padding: .35rem .5rem;
  text-align: center;
  line-height: 1.2;
  text-transform: uppercase;
  transition: background-color .2s;
  box-shadow: 0 0 0.4rem rgba(40, 40, 40, 0.25);
}

.btn-green:hover {
  background-color: black;
  color: #fff;
}

.btn-green:focus {
  box-shadow: 0 0 0.35rem black;
  outline: 0.1rem solid #2d9737;
  border: .15rem solid white;
}

.btn-green:focus:hover {
  box-shadow: none;
  outline: none;
}

.flex-table {
  display: flex;
  flex-direction: column;
}

.flex-row-table {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.flex-row-table .input-text {
  width: 100%;
  max-width: 100%;
  margin-bottom: .7rem;
}

.table-row {
  display: flex;
  flex-direction: row;
  border-bottom: 0.1rem solid rgba(0, 0, 0, 0.2);
}

.table-row:last-child {
  border: none;
}

.table-row div {
  border-right: 0.1rem solid rgba(0, 0, 0, 0.2);
}

.table-row div:last-child {
  border: none;
}

.table-row:hover {
  background-color: #c5ff571a;
}

.th {
  font-weight: 700;
  color: #2d9737;
  background-color: gray;
  text-align: center;
}

.cell-15px {
  overflow: hidden;
  text-overflow: ellipsis;
  padding: .34rem;
  flex: 0 0 1rem;
}

.cell-30px {
  overflow: hidden;
  text-overflow: ellipsis;
  padding: .34rem;
  flex: 0 0 2rem;
}

.cell-60px {
  overflow: hidden;
  text-overflow: ellipsis;
  padding: .34rem;
  flex: 0 0 4rem;
}

.cell-120px {
  overflow: hidden;
  text-overflow: ellipsis;
  padding: .34rem;
  flex: 0 0.5 8rem;
}

.cell-200px {
  overflow: hidden;
  text-overflow: ellipsis;
  padding: .34rem;
  flex: 0 0.5 14rem;
}

.cell-auto {
  overflow: hidden;
  text-overflow: ellipsis;
  padding: .34rem;
  flex: 1 1 20rem;
}

.cell-status {
  overflow: hidden;
  text-overflow: ellipsis;
  padding: .34rem;
  flex: 0 0 3rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.cell-status .fa {
  font-size: 1.5rem;
}

.cell-symbol {
  overflow: hidden;
  text-overflow: ellipsis;
  padding: .34rem;
  flex: 0 0 2rem;
}

.cell-name {
  overflow: hidden;
  text-overflow: ellipsis;
  padding: .34rem;
  flex: 0 0.5 12rem;
}

.cell-type {
  overflow: hidden;
  text-overflow: ellipsis;
  padding: .34rem;
  flex: 0 0.5 8rem;
}

.cell-desc {
  overflow: hidden;
  text-overflow: ellipsis;
  padding: .34rem;
  flex: 1 1 18rem;
}

.cell-tags {
  overflow: hidden;
  text-overflow: ellipsis;
  padding: .34rem;
  flex: 1 1 300px;
}

.cell-id {
  overflow: hidden;
  text-overflow: ellipsis;
  padding: .34rem;
  flex: 0 0 60px;
}

.table-row.complete .cell-status {
  color: #2d9737;
}

.table-row.complete .cell-auto {
  color: #6e6e6e;
}

.line-thin {
  border-bottom: 0.1rem solid #2d9737;
  height: .1rem;
  margin: .7rem 0;
  display: block;
}

.line-thick {
  border-bottom: 0.3rem solid #2d9737;
  height: .2rem;
  margin: .7rem 0;
  display: block;
}

.spacing-sm {
  height: .1rem;
  margin-bottom: .5rem;
  clear: both;
}

.spacing-sm::after {
  content: "";
  display: table;
  clear: both;
}

.spacing {
  margin-bottom: .8rem;
  clear: both;
}

.spacing::after {
  content: "";
  display: table;
  clear: both;
}

.spacing-lg {
  margin-bottom: .8rem;
  clear: both;
}

.spacing-lg::after {
  content: "";
  display: table;
  clear: both;
}
